<a href="https://colab.research.google.com/github/Harisha-Git/Python/blob/main/Print_%26_Basic_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(am)

NameError: name 'am' is not defined

In [2]:
print("I am learing python") # syntax for print is print() to get output we have to mention like below
print('I am learing AI')
print("I am learing python \nI am learing AI")

I am learing python
I am learing AI
I am learing python
I am learing AI

In [3]:
#Print with Newlines: Write a program to print the following using multiple print() statements : \n is used
print("Hello\nWorld")

Hello
World

In [4]:
#Print with Tab Spaces: Write a Python program to print three words with a tab space between them.  : \tis used
#Example output: apple orange banana
print("Apple\tBanana\tOrange")

Apple	Banana	Orange

In [5]:
#Using Escape Sequences: Print the following message using escape sequences: \ is used before specialchar
#He said, "Python is awesome!"
print("He said, "Python is awesome"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-5-cbb2cd8e46e2>, line 3)

In [ ]:
print("He said, \"Python is awesome!\"")

In [ ]:
#Backslashes in Strings: Print the following string, ensuring the backslash is visible: C:\Users\John.
print("C:\\Users\\John")

In [7]:
#Printing Variables:
#Printing a Variable: Write a Python program that assigns a value to a variable x and then prints it.
x=12
print(x)

12

In [18]:
#Printing Multiple Variables: Assign values to two variables, name and age, and print them in the sentence "My name is [name] and I am [age] years old."
#print(f"{}"") fstring
name=("Tarak")
age=5
print(f"My name is {name} and I am {age} years old.")

My name is Tarak and I am 5 years old.

In [21]:
#Using print() with Multiple Arguments: Print the following without using concatenation: "I have 5 apples and 3 oranges."
print("I have", "5", "apples", "and", 3, "oranges")

I have 5 apples and 3 oranges

In [ ]:
# Formatting with sep Parameter: Print the numbers 1, 2, and 3 with a space between them using the sep parameter.sep =""used

In [7]:
print("1","2","3",sep="-")

1-2-3

In [16]:
#Print with end Parameter: Print the following sentence with no newline at the end: "Learning Python is fun".
print("I love python",end=" Learning python is fun")

I love python Learning python is fun

In [22]:
#String Concatenation: Print the following sentence using string concatenation: "Hello, my name is Alice."
print("Hello, my name is"+"Alice")

Hello, my name isAlice

In [30]:
#Using + for Concatenation: Concatenate and print the strings: "I am " and "25 years old"
print("i am" + " and " "is Alice")

i am and is Alice

In [32]:
#Formatted String (f-string): Write a Python program that prints: "My name is John, and I am 30 years old" using an f-string.
name="John"
age=30
print(f"My name is {name}, and i am {age}  years old")

My name is John, and i am 30  years old

In [34]:
#Print with Newlines: Write a program to print the following using multiple print() statements:
print("Apple \norange")

Apple
orange

In [35]:
#Print with Tab Spaces: Write a Python program to print three words with a tab space between them. Example output: apple orange banana
print("apple\tbanana\torange")

apple	banana	orange