<a href="https://colab.research.google.com/github/Harisha-Git/Python/blob/main/Print%2CBasic_OperationsHDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("i love to learn python")

i love to learn python

In [ ]:
print('''In python for single line statement double quotes are used for mulitple line tripple quotes are used''')

In python for single line statement double quotes are used for mulitple line tripple quotes are used

In [ ]:
# if there are any quotes in between the line use \ escape before quote
print('''i love python '''In python for single line statement double quotes are used for mulitple line tripple quotes are used''' )

SyntaxError: unterminated triple-quoted string literal (detected at line 2) (<ipython-input-8-bb7e18c06eef>, line 2)

In [ ]:
print('''i love python \'\'\'In python for single line statement double quotes are used for mulitple line tripple quotes are used''' )

i love python '''In python for single line statement double quotes are used for mulitple line tripple quotes are used

In [ ]:
print('''i love python In python for single line statement \n slash n is used for new line''') #\n is for new line

i love python In python for single line statement
 double quotes are used for mulitple line tripple quotes are used

In [ ]:
print('''i love python In python for single line statement \\n slash n is used for new line''')

i love python In python for single line statement \n slash n is used for new line

In [ ]:
print('''i love python In python for single line statement \t slash t is used for tab space''') #\t is used for tab space

i love python In python for single line statement 	 slash t is used for tab space

In [ ]:
print('''i love python In python for single line statement \\t slash t is used for tab space''')

i love python In python for single line statement \t slash t is used for tab space

In [ ]:
print(" i "" love "" python ")

 i  love  python

In [ ]:
print("i","love","python",sep="-")

i-love-python

In [ ]:
print("i","love","python",end="-")

i love python-

Variable naming conventions & Assignement

In [ ]:
1name = "harisha"

SyntaxError: invalid decimal literal (<ipython-input-25-ce399459db44>, line 1)

In [ ]:
-name = "harisha"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-26-296f21b3cbe3>, line 1)

In [ ]:
_name = "harisha" # name is like a variable anything provided in double quotes is nothing but sting

In [ ]:
name2 = "harisha"

In [ ]:
pro_lang = "harisha"

In [ ]:
ProLang ="harisha"

In [ ]:
month = 12

In [ ]:
month

12

In [ ]:
month = "12"

In [ ]:
month

'12'

In [ ]:
month = int(month)
print(month)

12

In [1]:
price = 2.5
price

2.5

## Basic Arthematic Operations

In [31]:
a=10
b=20
# adding two numbers
print ("sum of a & b is", a + b)

sum of a & b is 30

In [33]:
a=5
b=2
print (f"sum of {a} & {b} is", a + b)

sum of 5 & 2 is 7

In [36]:
a=5
b=2
# substraction of two numbers
print (f"Substarction of {a} & {b} is", a - b)

Substarction of 5 & 2 is 3

In [37]:
a=6
b=3
# multiplicationm of two numbers
print (f"multiplication of {a} & {b} is", a * b)

multiplication of 6 & 3 is 18

In [39]:
a=9
b=3
# division of two numbers
print (f"division of {a} & {b} is", a / b)

 #integer division
print(f"integer division of {a} & {b} is ", a // b )

# modulus of a number 9/3=3, 9-(3*3)=0
print(f"modulus of {a} & {b} is ", a % b )


# multiplication of two numbers
print(f"multiplication of {a} & {b} is ", a * b )
# exponent of a number 9 power 3 = 729
print(f"exponent of {a} & {b} is ", a ** b )

division of 9 & 3 is 3.0
integer division of 9 & 3 is  3
modulus of 9 & 3 is  0
multiplication of 9 & 3 is  27
exponent of 9 & 3 is  729